* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #002F6C;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-x: hidden;
    font-family: 'Grtsk Peta', Tahoma, Geneva, sans-serif;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    font-family: 'Grtsk Peta', Tahoma, Geneva, sans-serif;
}

img{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#root {
    display: flex;
    flex-grow: 1;
}

#root div {
    width: 100%;
}